<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.road.crawler.meizitu.mapper.PictureInfoMapper" >

  <resultMap id="BaseResultMap" type="com.road.crawler.meizitu.model.PictureInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Tag" property="tag" jdbcType="VARCHAR" />
    <result column="Alt" property="alt" jdbcType="VARCHAR" />
    <result column="Thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="Href" property="href" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    Id, Tag, Alt, Thumbnail, Href, CreateDate, UpdateTime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mz_picinfo
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_mz_picinfo
    where Id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.road.crawler.meizitu.model.PictureInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mz_picinfo (Tag, Alt, Thumbnail, 
      Href, CreateDate, updateDate
      )
    values (#{tag,jdbcType=VARCHAR}, #{alt,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{href,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.road.crawler.meizitu.model.PictureInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mz_picinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tag != null" >
        Tag,
      </if>
      <if test="alt != null" >
        Alt,
      </if>
      <if test="thumbnail != null" >
        Thumbnail,
      </if>
      <if test="href != null" >
        Href,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tag != null" >
        #{tag,jdbcType=INTEGER},
      </if>
      <if test="alt != null" >
        #{alt,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.road.crawler.meizitu.model.PictureInfo" >
    update t_mz_picinfo
    <set >
      <if test="tag != null" >
        Tag = #{tag,jdbcType=INTEGER},
      </if>
      <if test="alt != null" >
        Alt = #{alt,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        Thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        Href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.road.crawler.meizitu.model.PictureInfo" >
    update t_mz_picinfo
    set Tag = #{tag,jdbcType=INTEGER},
      Alt = #{alt,jdbcType=VARCHAR},
      Thumbnail = #{thumbnail,jdbcType=VARCHAR},
      Href = #{href,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>